.desktop-header {
    @include mqMax(1023px) {
        display: none;
    }

    .desktop-header-container {
        display: grid;
        grid-template-columns: repeat(3, 17% 45% 38%);
        align-items: center;
        @include mqMax(1250px) {
            grid-template-columns: repeat(3, 23% 47% 30%);
        }
    }

    .desktop-logo {
        margin-top: 7.5%;
        margin-left: 15%;
    }

    .desktop-logo img {
        height: 52px;
    }

    /*---------------Search-------------------*/


    .desktop-search-container {
        position: relative;
        margin-top: 4%;
        margin-left: 20px;
        height: 86px;
        width: 100%;
        @include mqMax(1023px) {
            display: none;
        }
    }
    
    .desktop-search-bar {
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 100%;
        
        padding: 0.15rem 0.25rem 0.15rem 0.75rem;
     }
    
        input[type="text"] {
           
          //flex-grow: 1;
          font-size: 1rem;
          text-align: left;
          letter-spacing: 0.1rem;
          border: 1px solid gray;
          outline: none;
          min-width: 420px;
          height: 62%;
          min-height: 55px;
          padding: 0px 10px;
    }
    .desktop-search-button {
        height: 62%;
        min-height: 55px;
        width: 50px;
        cursor: pointer;
        border: 0;
        border-radius: 1px;
        outline: none;
        background: #0A4595;
        color: white;
    }


    .search-results-desktop {
        z-index: 20;
        background: white;
        position: absolute;
        top: 100%;
        left: -11%;
        display: none;
        width: 120%;
        height: auto;
        -webkit-box-shadow: 0px 4px 19px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 4px 19px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 4px 19px 0px rgba(66, 68, 90, 1);
        justify-content: flex-start;
        align-items: center;
        margin: auto;
        @include mqMax(1023px) {
            display: none;
        }
        
    
        .search-results-container-desktop {
            margin-top: 10px;
            margin-left: 5px;
            display: flex;
            flex-direction: column;
        }
    
        .search-results-product-desktop {
            width: 550px;
            display: grid;
            grid-template-columns: repeat(3, 15% 25% 60%);
            align-items: center;
            cursor: pointer;
            margin-bottom: 6px;
            @include mqMin(1084px) {
                width: 600px;
            }
            @include mqMin(1140px) {
                width: 640px;
            }
            @include mqMin(1200px) {
                width: 660px;
            }
            @include mqMin(1300px) {
                width: 680px;
            }
            @include mqMin(1364px) {
                width: 720px;
            }
             @include mqMin(1460px) {
                width: 770px;
            }
            @include mqMin(1550px) {
                width: 800px;
            }
             @include mqMin(1677px) {
                width: 870px;
            }
           
     }
     .search-results-product-desktop:hover,
     .search-results-product-desktop:focus {
        transform: scale(1.01);
     }
    
        .search-results-product-desktop img {
            width: 70px;
            height:fit-content;
            margin-right: 5px;
           
        }
        .search-results-product-desktop p {
            font-weight: 600;
            font-size: 17px;
            width: 190px;
            text-align: left;
           
        }
        .desktop-search-result-price-p p {
            color: $orangecolor;
            font-weight: 600;
            font-size: 17px;
            text-align: right;
            margin-left: 40%;
        }
        
    }
    
    .search-results-desktop.active {
            display: flex;
        }

    .search-results-container-container-desktop {
        padding: 10px 10px;
    }


        /*------------------------*/



    .desktop-user-cart {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 17px;
       
        gap: 10px;
        margin-left: 10px;
        @include mqMax(1250px) {
            gap: 30px;
        }
       
    }
    
    .desktop-contact-img {
        
        cursor: pointer;
        height: 48px;
        filter: invert(44%) sepia(43%) saturate(5248%) hue-rotate(1deg) brightness(104%) contrast(105%);
    }
    .desktop-cart-img {
        
        cursor: pointer;
        height: 48px;
        filter: invert(44%) sepia(43%) saturate(5248%) hue-rotate(1deg) brightness(104%) contrast(105%);
    }
    
    .desktop-user-img {
        cursor: pointer;
        height: 48px;
        filter: invert(44%) sepia(43%) saturate(5248%) hue-rotate(1deg) brightness(104%) contrast(105%);
    }
    .desktop-cartuser-span {
        font-size: 18px;
        font-weight: 540;
        @include mqMax(1250px) {
            display: none;
        }
    }
    
    .desktop-cart {
        position: relative;
       // border: 2px solid red;
    }
    
    .desktop-cart-info {
        display: none;
        position: absolute;
        top: -10px;
        right: 10%;
        background-color: #FF6000;
        color: white;
        font-size: 13px;
        padding: 0.20rem 0.30rem;
        border-radius: 50%;
    }
    
    .desktop-cart-info.active {
        display: block;
    }


    .inside-the-cart-desktop {
        //border: 2px solid red;
        display: none;
        position: absolute;
        background-color: white;
        z-index: 10;
        //top: 16.80%;
        top: 108px;
        width: 400px;
        right: 4%;
        height: auto;
        min-height: 150px;
        -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    }
    .inside-the-cart-desktop.show-cart {
        display: block;
    }
    .inside-the-cart-desktop.hide-cart {
        display: none;
    }
    .inside-the-cart-container-desktop {
        position: relative;
    }
    /*.inside-the-cart-container-desktop::before {
        content: "";
        width: 20px;
        height: 20px;
        background-color: white;
        position: absolute;
        top: -2%;
       
        right: 20%;
        transform: rotate(45deg);
        z-index: 111111;
    }*/
    
    .product-row-desktop {
        display: grid;
        grid-template-columns: repeat(4, 10% 57% 28% 5%);
        margin-bottom: 20px;
        align-items: center;
    }
    
    .products-inside-desktop {
        padding: 1.5rem 0.6rem 0.7rem;
    }
    
    .quantity-of-the-product-desktop {
        font-size: 17px;
        font-weight: 600;
    }
    .title-of-the-product-desktop {
        font-size: 17px;
        font-weight: 500;
        
    }
    .price-of-the-product-desktop {
        color: #FF6000;
        font-weight: 700;
    }
    .remove-product-desktop {
        background: transparent;
        border: none;
        font-size: 19px;
        color: grey;
        cursor: pointer;
    }
    .value-and-proceed-desktop {
        padding: 1.1rem 0.6rem 0.7rem;
    }
    .value-row-desktop {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .total-value-of-products-desktop {
        font-weight: 700;
        width: 40%;
    }
    .total-value-desktop {
        color: #FF6000;
        font-size: 24px;
    }
    
    .proceed-to-cart-desktop {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button.proceed-to-cart-desktop {
        background-color: #FF6000;
        color: white;
        border: none;
        outline: none;
        padding: 0.6rem 2rem;
        width: 90%;
        border-radius: 5px;
        cursor: pointer;
        font-size: 15px;
    }

    .close-desktop-cart {
        position: absolute;
        top: 0;
        right: 0;
    }

    .close-desktop-cart button {
        background: white;
        border: none;
        outline: none;
        font-size: 17px;
        margin-right: 5px;
        margin-top: 5px;
        cursor: pointer;
        color: $orangecolor;
    }

    
}